<div class = "non-color-page">
  <h2>Edit a  question.</h2>

    <%= render 'form' %>

      <div class = "center">

        <p>or <%= link_to 'Cancel', questions_url %></p>

            <%= link_to 'Delete', question_url(@question), method: 'delete', data: { confirm: "You sure about that?" } %>
    </div>
  </div>
</div>
