<div class = "container">
    <header class = "primary-logo">

      <h1>This week's question</h1>

  </header>


    <div class = "primary-content app">
        <div class = "all-questions group">

          <h4>
              Week #<%= @question.week.week_number %>
            <time>
              (<%= @question.week.week_start %> - <%= @question.week.week_stop %>)
            </time>
          </h4>


            <p>
              "<%= @question.question_text %>"
            </p>


        </div>
    </div>

</div>
