


    <h1 class = "large-top-space center">All the weeks</h1>




    <div class = "primary-content center">

        <% @weeks.each do |week| %>

          <h4 class = "top-space"> Week

            <p><%= week.start_date %> - <%= week.end_date %></p>

          </h4>

        <% end %>




  </div>



