
<div class = "non-color-page">

  <h2>Set email preferences</h2>



    <div class = "smaller-container">

     <div class = "form">

        <form>

          <label class = "label-gray">Send questions every</label>
          <select class = "block">
            <option>Friday</option>
            <option>Saturday</option>
            <option>Sunday</option>
          </select>

          <label class = "label-gray">at</label>
          <select class = "block">
            <option>7:00 AM</option>
            <option>7:00 AM</option>
            <option>7:00 AM</option>
          </select>



          <label class = "label-gray">Send questions every</label>
          <select class = "block">
            <option>Friday</option>
            <option>Saturday</option>
            <option>Sunday</option>
          </select>

          <label class = "label-gray">at</label>
          <select class = "block">
            <option>7:00 AM</option>
            <option>7:00 AM</option>
            <option>7:00 AM</option>
          </select>



        </form>

      </div>

    </div>
</div>



