<p>Hey <%= @app_request.name %>,</p>

<p>Thanks for requesting an invite to ClarityBox. I'll send you an email shortly with login details!

<p>In the meantime, feel free to peruse the <%= link_to 'ClarityBox blog', 'http://claritybox.co/blog' %>  and follow our <%= link_to 'Twitter', 'http://claritybox.co/blog' %>.</p>

<p>You can also say hello at claire@claritybox.co.</p>

<p>Thanks again!</p>
<p>Claire</p>
