<p>Hey <%= @app_request.name %>,</p>

<p>Thanks for requesting an invite to the ClarityBox app. It's currently in beta, but you can definitely log in and poke around!</p>
<br/>

<p>Here is the log in as a Test Admin:</p>
<p>Email:  admin@claritybox.co</p>
<p>Password:  clarity</p>

<br/>

<p>Here is the log in as a Test User:</p>
<p>Email:  user@claritybox.co</p>
<p>Password:  clarity</p>
<br/>

<p>Let me know if you have any questions, and feel free to say hi on <%= link_to 'Twitter', 'http://twitter.com/theclaritybox' %>.</p>

<p>Thanks again!</p>
<p>Claire</p>
