<p>Hey <%= @user.first_name %>,</p>

<p>To help <%= @company.name %> communicate better, we're using ClarityBox. I've already created an account for you.</p>

<p>Here is your temporary password: <%= @temp_pass %>

 <p>You can log in and change your password <%= link_to 'here', new_session_url %>.
</p>


<p>Let me know if you have any questions,</p>
<p>Claire</p>
