<p>Hey <%= @user.first_name %>,</p>

<p>Thanks for creating an account with ClarityBox. You can log in <%= link_to 'here', new_session_url %>.
</p>

<p>Let me know if you have any questions,</p>
<p>Claire</p>
