<div class="thanks section group">

    <div class = "transparency smaller-container">


      <p class = " center color"><b>Thank you</b></p>

      <p class = "center small">Thank you for your interest in working together. You'll hear from me via email within the next day. I look forward to hopefully helping your company.</p>

      <p class = "center small">In the meantime, feel free to peruse the ClarityBox <%= link_to 'blog', blog_url %> or say hi on <%= link_to 'Twitter', 'http://twitter.com/theclaritybox' %>. </p>

      <p class = "center small">- Claire</p>
    </div>

</div>
