<div class="thanks section group">

    <div class = "transparency smaller-container">


      <p class = " center color"><b>Thank you!</b></p>

      <p class = "small">Thank you so much for your interest in ClarityBox. You'll hear from me within 24 hours via email. </p>

      <p class = "small">In the meantime, feel free to peruse the ClarityBox <%= link_to 'blog', blog_url %> or say hi on <%= link_to 'Twitter', 'http://twitter.com/theclaritybox' %>. </p>

      <p class = "small">- Claire</p>
    </div>

</div>
