<div class = "non-color-page">

<h2>Editing User</h2>

  <%= render 'form' %>


  <div class = "center">
    <p><%= link_to 'Cancel', company_url(@user.company_id) %></p>

    <%= link_to 'Delete', user_url(@user), method: 'delete', data: { confirm: 'You sure about that?'} %>
  </div>
</div>
