


    <h1 class = "top-space center">All the users</h1>


    <% @users.each do |user| %>

      <p><%= user.first_name %> <%= user.last_name %>, <em><%= user.company.name %></em> (<%= user.user_role %>)</p>





    <% end %>



