<div class = "non-color-page">

  <div class = "container">

    <% if signed_in? %>
      <h2>Add a user</h2>
    <% else %>
      <h2>Create your Account</h2>
    <% end %>

      <%= render 'form' %>

  </div>

</div>
