<div class = "container primary-content group">
  <h3>Ask a new question.</h3>

  <%= form_tag "/question" do%>

    <p>This is Week #
        <input type = "text" name = "week_number" class = "text-field small">.
    </p>

    <p>The week begins on
        <input type = "text" name = "week_start" class = "text-field small">
      and ends on
        <input type = "text" name = "week_end" class = "text-field small">.
    </p>

    <p>What question do you want to ask?</p>

      <textarea type = "text" name = "question" class = "text-field small">
      </textarea>

    <div class = "button-set">
      <input type = "submit" name = "submit" class = "button">

  <% end %>

  <p>or <a href = "/question">Cancel</a></p>

</div>

</div>


