	

<body>
	<!--Navigation-->
	
<header class = "primary-nav container group">

	<div class = "nav-logo">
		<h1><a href = "/test">ClarityBox</a></h1>
		<h2><i>See your company clearly.</i></h2>
	</div>

	<nav class = "nav-elements">
		<ul>
			<li><a href="/test/#problem">Problem</a></li>
			<li><a href="/test/#solution">Solution</a></li>
			<li><a href="/test/#testimonials">Testimonials</a></li>
			<li><a href="/test/#contact">Contact</a></li>
		</ul>
	</nav>

</header>



	<!--Site content-->


	<div class="philosophy primary-content container group">
		<h3>My Philosophy</h3>
		<p>I believe people should be happier at work.</p>
		<p>The root cause of unhappiness at work is ineffective communication. The things we assume and don't disclose with one another are what hurt a company the most. As <a href="http://www.amazon.com/Fifth-Discipline-Peter-M-Senge/dp/0553456342">Peter Senge</a> says, "Structures of which we are unaware hold us prisoner."</p>
		<p>The key to happier people at work is open communication. Communication enables clarity. A company must be able to see itself clearly in order to improve.</p>
		<p>I believe that a company should improve proactively. A company shouldn't wait for an internal crisis to serve as a wake-up call. A company should constantly be seeking the truth of how it's doing. That's how a company lasts.</p>
		<p>To help people become happier at work, here are the values I believe in and practice:</p>
		<ul>
			<li>Authenticity:  I truly care and am driven by what is in the best interest of the organization.</li>
			<li>Simplicity:  I focus on what is essential. It’s maximizing impact with the least amount of excess.</li>
			<li>Honesty:  I seek out the truth, while being transparent in my own intentions and shortcomings.</li>
			<li>Trust:  The relationship I have with the organization is predicated on trust, and will never be violated.</li>
		</ul>
	</div>

</body>