

<body>
	<!--Navigation-->

<header class = "primary-nav container group">

	<div class = "nav-logo">
		<h1><a href = "/test">ClarityBox</a></h1>
		<h2><i>See your company clearly.</i></h2>
	</div>

	<nav class = "nav-elements">
		<ul>
			<li><a href="/test/#problem">Problem</a></li>
			<li><a href="/test/#solution">Solution</a></li>
			<li><a href="/test/#testimonials">Testimonials</a></li>
			<li><a href="/test/#contact">Contact</a></li>
		</ul>
	</nav>

</header>



	<!--Site content-->


	<div class="philosophy primary-content container group">
		<h3>My Philosophy</h3>
		<p>I believe people should be happier at work.</p>
		<p>The root cause of this unhappiness at work is ineffective communication. It's the things we assume and don't disclose with one another are what hurt a company the most.</p>
		<p>When we communicate more openly and honestly at work, we become happier. We can spot problems quicker. We can solve them more thoroughly. We can innovate faster. We can produce more meaningful work. We stand for something. We become a true team.</p>
		<p>This clarity is how a company improves. A company must see itself clearly in order to become better.  It's how a company lasts.</p>
		<p>To create this clarity and help people become happier at work, here are the values I believe in and practice:</p>
		<ul>
			<li>Authenticity:  I truly care and am driven by what is in the best interest of the organization.</li>
			<li>Simplicity:  I focus on what is essential. It’s maximizing impact with the least amount of excess.</li>
			<li>Honesty:  I seek out the truth, while being transparent in my own intentions and shortcomings.</li>
			<li>Trust:  The relationship I have with the organization is predicated on trust, and will never be violated.</li>
		</ul>
	</div>

</body>
