
  <!--Main headline area-->

<!-- <div class = "primary-content group"> -->


<div class = "main-callout group">

    <h2>
      Leading a company is hard.
    </h2>
<a name = "problem">
    <h3 class = "center small-top-space">
      Make better decisions with ClarityBox.
    </h3>
  </div>
</div>


<div class = "problem section group ">

  <h3 class = "top-space no-hover center">Problem</a></h3>

			<h4>Should I hire more people or let someone go?</h4>
			<h4>Should we change direction as a company or stay the course?
			</h4>
			<h4>Should I be doing more to make my team happy?
			</h4>

<div class = "smaller-container">


<p>You face tough decisions as a leader every single day. You wish these decisions were easier. If you knew how everyone actually felt about your company, you would know what to take action on.</p>
   <a name = "solution">
  </div>
</div>

<div class = "solution section group">
  <h3 class = "top-space no-hover center">Solution</a></h3>
    <h4>ClarityBox helps you make better decisions  as a leader.
    </h4>
      <div class = "smaller-container">

        <p>You gain the insights to see a full picture of your company. This way, you can make more-informed decisions as a leader. </p>

        <p>With ClarityBox, you see you company clearly. You walk away knowing:
        </p>

      	<ul>
        	<li>How everyone in your company actually feels</li>
        	<li>Where to focus your time and energy</li>
          <li>What's falling through the cracks</li>
        	<li>Who you need to talk to more</li>
        	<li>What you should do differently</li>
      	</ul>

  <a name = "process">
         <p class = "last">You also walk away with your team feeling truly heard. ClarityBox is the most complete way of demonstrating that you value what your team has to say.</p>

        </div>
</div>

<div class = "process section group">

      <h3 class = " top-space no-hover center">Process</a></h3>

      <div class = "smaller-container">
      <p>I interview each person in your company. Then, I present an in-depth, panoramic view of how everyone feels, and uncover the key insights to guide your decisions as a leader.</p>
      <p><b>The Interviews:</b></p>
      <ul>
        <li>One hour each</li>
        <li>Completely confidential</li>
        <li>Conducted in-person or via phone/Skype</li>
      </ul>
      <p><b>The Debrief:</b></p>
      <ul>
        <li>A detailed debrief with you</li>
        <li>A presentation to the entire company</li>

        <li>A personally designed deck with the key insights</li>
      </ul>


      <p class = "top-space">I treat each company with a great deal of thoughtfulness and care. The process is deeply personalized for the nuances of your company: the people, the circumstances, and the dynamics. <%= link_to 'Click here to learn more about my philosophy.', philosophy_url %></p>
  <a name = "who">
      <p class = "last">I am based in Chicago, Illinois. Not local?  No worries, I'm happy to arrange remote interviews or travel to where you are.</p>

    </div>
</div>

<div class = "who section group">

   <h3 class = "top-space no-hover center">Who I am</a></h3>

    <div class = "smaller-container">

      <p>I'm <%= link_to 'Claire Lew', 'http://clairelew.com'%> and I believe that more people should be happy at work.</p>

      <p>I helped start a company, and grow another company. But I've always been struck by how unhappy people are when they aren't able to communicate openly and honestly with one another - and how much that determines the success of a company. </p>

<a name = "testimonials">

      <p class = "last"> So I founded ClarityBox. I wanted to create something simple and personal that would help people be happier at work.  <%=link_to 'Click here to learn more about my story.', story_url %> </p>


</div>
</div>

<div class = "testimonials section group">

  <h3 class = "top-space no-hover center">Testimonials</a></h3>

    <div class = "smaller-container">

      <p>I've been fortunate to help some wonderful companies. Here's what they had to say...</p>

      <a name = "contact">
     <ul>
        <li><p>37signals</p></li>
        <li><p class = "last">The Starter League</p></li>
      </ul>
</div>
</div>

<div class = "contact section group">

      <h3 class = "top-space no-hover center">Contact</h3>

      <h4><a href="http://claritybox.wufoo.com/forms/z7x3p3/">Let's work together.</a></h4>

      <div class = "smaller-container">

      <p>Click the link above to get in touch. Or if you have questions or other thoughts, I'd love to hear from you at <a href="mailto:claire@claritybox.co">claire@claritybox.co</a>. Feel free to also give me a ring at 612.578.9342</p>
      <p>Learn more about <a href="/story">my story</a> and <a href="/philosophy">my philosophy</a> .</p>
      <p class = "last">Say hi on <a href="http://twitter.com/cjlew23">Twitter</a> and follow my <a href = "http://clairelew.com/blog">blog</a>.</p>

    </div>

  </div>

  <div class = "why-name section group">
    <div class = "smaller-container">
    <h5 class = "top-space">Why the name ClarityBox?</h5>
    <p class = "last">I wanted to create a space that would enable people to communicate more honestly and openly. A space that enabled a sense of trust. And that people would leave with a sense of "ahhh." Clarity. Hence, ClarityBox. </p>
   </div>
  </div>
