<link rel="stylesheet" href="normalize.css" type="text/css" media="screen">
<link rel="stylesheet" href="style.css" type="text/css" media="screen">

<div class="container">
	<div class="logo">
		<%= link_to image_tag("logo.png") %>
	</div>

	<div class="coming-soon">
		<%= link_to image_tag("coming-soon.png") %>
	</div>


	<!-- Begin MailChimp Signup Form -->

	<div class="signup" id="mc_embed_signup">
		<form action="http://claritybox.us6.list-manage1.com/subscribe/post?u=bcd48aa0ef9e765c906723b20&amp;id=924b81bc7e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			<input type="email" value="" name="EMAIL" class="signup-email" id="mce-EMAIL" placeholder="email@example.com" required>

				<input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="signup-button">
	
		</form>	
	</div>

	<!--End mc_embed_signup-->

</div>