

<div class="container">

	<!--Homepage Main Section-->

	<div class = "primary-logo">

		<h1 class = "center">ClarityBox</h1>
		<h4 class = "italic center">See your company clearly.</h3>

	</div>

	<!--Coming Soon-->


		<h3 class = "coming-soon">Coming soon</h3>


		<!-- MailChimp Signup Form -->

			<div class="signup group" id="mc_embed_signup">

				<form action="http://claritybox.us6.list-manage1.com/subscribe/post?u=bcd48aa0ef9e765c906723b20&amp;id=924b81bc7e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

					<input type="email" value="" name="EMAIL" class=" signup text-field" id="mce-EMAIL" placeholder="email@example.com" required>

			<!--Signup Button-->

					<input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="signup button">

				</form>

			</div>



</div>

