

<body>
	<!--Navigation-->

<header class = "primary-nav container group">

	<div class = "nav-logo">
		<h1><a href = "/about">ClarityBox</a></h1>
		<h2><i>See your company clearly.</i></h2>
	</div>

	<nav class = "nav-elements">
		<ul>
			<li><a href="/test/#problem">Problem</a></li>
			<li><a href="/test/#solution">Solution</a></li>
			<li><a href="/test/#testimonials">Testimonials</a></li>
			<li><a href="/test/#contact">Contact</a></li>
		</ul>
	</nav>

</header>



	<!--Site content-->


	<div class="philosophy primary-content container group">
		<h3>My Philosophy</h3>
		<p>I believe people should be happier at work. We spend too much of lives working for us not to be.</p>

		<p>We are unhappiest at work when we feel we can't say what we want. Ineffective communication is the root of almost every organizational problem. The things that go unsaid are what hurt a company the most.</p>

		<p>When we are able to communicate more openly and honestly, we immediately become happier. We can spot problems quicker. We can produce more meaningful outcomes. We feel like the work we do matters.</p>

		<p>Open, honest communication begins with clarity. Clarity on who is doing what, why they are doing it, what other people are thinking, and the overall vision of where they're headed. This clarity provides a starting point for opening up lines of communication. It establishes a baseline of truth. A company must first see itself clearly in order to improve moving forward.</p>
		<p>A company's leader must also actually care. She must desire clarity not merely as an empty symbolic gesture, but because she genuinely cares about how each person at her company feels. Are they actually enjoying coming to work each day? Do they find their work fulfiling? What do they think could be better?</p>

		<p>She wants to build the best company possible - but defines that beyond maximizing profit or positively impacting customers. She cares about creating a place where people wouldn't want to work anywhere else.</p>

		<p>With leaders who care, I believe creating such companies are possible. And a better, happier world will exist because of it.</p>


<!-- 		<p>Here is what I care about:</p>
		<ul>
			<li>Authenticity:  I truly care and am driven by what is in the best interest of the organization.</li>
			<li>Simplicity:  I focus on what is essential. It’s maximizing impact with the least amount of excess.</li>
			<li>Honesty:  I seek out the truth, while being transparent in my own intentions and shortcomings.</li>
			<li>Trust:  The relationship I have with the organization is predicated on trust, and will never be violated.</li>
		</ul> -->
	</div>

</body>
