
    <h1 class = "large-top-space center">All the responses</h1>

        <% @responses.each do |response| %>
            <p>
              <%= response.response_text %>

            </p>


            <p><%= link_to 'View', question_response_url(@question, response) %></p>
            <p><%= link_to 'Delete', question_response_url(@question, response), method: 'delete' %></p>

        <% end %>
