
    <h1 class = "large-top-space center">All the responses</h1>

        <% @responses.each do |response| %>
            <p>
              <%= response.response_text %>

            </p>
        <% end %>
