
<div class = "container">



  <h1 class = "large-top-space center">Welcome to your ClarityBox.</h1>




  <div class = "margin-auto">
    <%= link_to 'Respond to a question', weeks_url, :class => 'button'%>
  </div>


  <!-- Footer -->

  <footer class = "top-space group ">
      <ul class = "app">
        <li><%= link_to 'See all weeks', weeks_url %></li>
        <li><%= link_to 'See all questions', questions_url %></li>
      </ul>
  </footer>

</div>


