<h1 class = "large-top-space center">Your response</h1>


   <div class = "primary-content">

      <%= render 'form' %>

    <p>or <%= link_to 'Cancel', questions_url %></p>



    <% if @response.errors.any? %>
  <ul>
    <% @response.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>



  </div>


