<h1 class = "large-top-space center">Your response</h1>

  <div class = "primary-content">

    <h3 class = "top-space center italic">
      "<%= @response.question.question_text %>"
    </h3>

      <p>"<%= @response.response_text %>"</p>

 </div>


<p><%= link_to 'Edit', response_url(@response) %></p>
