<div class = "form-small">
<%= form_for @company do |f| %>

  <p class = "center top-space">
    <%= f.label :name, 'Company name', :class => 'label-gray block' %>
    <%= f.text_field :name, :class => 'field' %>
  </p>

  <div class = "center top-space">
    <%= f.submit :class => 'button blue' %>
  </div>

<% end %>

</div>
