<div class = "non-color-page">

<h2>Edit a company.</h2>

  <%= render 'form' %>


<p class = "center"><%= link_to 'Cancel', companies_url %></p>
<p class = "center"><%= link_to 'Delete', company_url(@company), :method =>'delete', data: {confirm: "You sure?"} %></p>

</div>
