  <h1 = class = "large-top-space center">Edit a company.</h1>


    <%= form_tag(company_url(@company), method: 'put') do %>

        <p>Company's name:
          <%= text_area_tag :name, @company.name %>
        </p>

      <%= submit_tag 'Save', :class => 'button' %>

    <% end %>
