 <div class= "non-color-page">

    <h2>All the companies</h2>

      <div class = "smallest-container">

            <% @companies.each do |company| %>

            <%= link_to company.name, company_url(company), :class => 'button-extra-large blue block' %>



           <% end %>


      <p class = "top-space center">
        <%= link_to 'Create', new_company_url, :class => 'button gray'%>
      </p>


    <p class = "top-space center">
        <%= link_to 'View invite requests', app_requests_url, :class => 'button gray'%>
      </p>




    </div>

  </div>
