<div class = "app-home-page">

  <div class = "container">

<!-- <h2>Request an invite</h2> -->

<%= render 'form' %>

<p class = "center"><%= link_to 'Back', app_home_url, :class => 'button-small white' %></p>

</div>
</div>
