
<div class = "app-home-page">

  <div class = "container">

<h2> Thank you!</h2>


<p class = "color center">You'll receive an invite from me via email shortly.</p>
 <p class = "color center">In the meantime, feel free to...</p>

<div class = "center small-top-space">
  <%= link_to 'Visit headquarters', 'http://claritybox.co', :class => ' button-small white'  %>
</div>


<div class = "center small-top-space">
<%= link_to 'Read the blog', 'http://claritybox.co/blog', :class => ' button-small white' %>
</div>

<div class = "center small-top-space">
<%= link_to 'View tweets', 'http://twitter.com/theclaritybox', :class => ' button-small white' %>
</div>

<div class = "center small-top-space">
<%= link_to 'Say hi', 'mailto:claire@claritybox.co', :class => ' button-small white' %>
</div>

</div>
</div>
