
<div class = "app-home-page">

  <div class = "container">

<h2> Thank you!</h2>


<p class = "color center">I'll respond to your invite request shortly.</p>
 <p class = "color center">In the meantime, feel free to...</p>

<div class = "center small-top-space">
  <%= link_to 'Gain clarity in person', 'http://claritybox.co', :class => ' button-small'  %>
</div>


<div class = "center small-top-space">
<%= link_to 'Read our blog', 'http://claritybox.co', :class => ' button-small' %>
</div>

<div class = "center small-top-space">
<%= link_to 'View our tweets', 'http://claritybox.co', :class => ' button-small' %>
</div>

<div class = "center small-top-space">
<%= link_to 'Say hi via email', 'mailto:claire@claritybox.co', :class => ' button-small' %>
</div>

</div>
</div>
