
<div class = "primary-content container">

	<h3>Thanks for creating a new question!</h3>

	<p>View the responses so far <a href="http://localhost:3000/rollup/wk<%=@week.week_number%>">here.</a></p>

</div>