
  <h1 class = "large-top-space center">Welcome to your ClarityBox.</h1>




  <div class = "primary-content center top-space">
    <%= link_to 'Respond to a question', weeks_url, :class => 'button'%>
  </div>

