
  <h1 class = "large-top-space center">Welcome to ClarityBox.</h1>




  <div class = "primary-content center top-space">
    <% if signed_in? %>
      <%= link_to 'Respond to a question', questions_url, :class => 'button'%>
     <% else %>
      <%= link_to 'Create an account', new_user_url, :class => 'button'%>
    <% end %>
  </div>

