





  <div class = "primary-content center large-top-space">

      <h1 class =  "center">Welcome to ClarityBox.</h1>

    <% if signed_in? %>

      <div class = "top-space">

      <%= link_to 'Respond to a question', questions_url, :class => 'button'%>

        </div>

     <% else %>

     <div class = "top-space">

      <%= link_to 'Create an account', new_user_url, :class => 'button'%>
    <% end %>

  </div>
</div>

