

<div class = "app-home-page">

  <div class = "container">

      <h1 class = "center">Welcome to
          <% if signed_in? %>
            your
          <% end %>
        ClarityBox.</h1>



  <% if signed_in? %>

        <% if super_admin? %>
          <div class = "top-space center">
            <%= link_to 'View the companies', companies_url, :class => 'button'%>
          </div>
        <% end %>

        <% if admin? %>
          <div class = "top-space center">
            <%= link_to 'See your company clearly', company_url(current_user.company), :class => 'button'%>
          </div>
        <% end %>

        <% if general_user?  %>
          <div class = "top-space center">
            <%= link_to 'Enter', user_url(current_user), :class => 'button'%>
          </div>
        <% end %>

      <% else %>


       <div class = "top-space center">
          <%= link_to 'Request an invite', new_user_url, :class => 'button'%>
        </div>
  <% end %>
</div>

</div>



