<div class="primary-content container group">

	<h3> Create a new question</h3>

		<form action = "/create_new_question/" method = "get">

			<p>This is Week #<input type="text" name = "week_number"> </p>
			<p>The week begins on <input type="text" name = "week_start"> and ends on <input type="text" name = "week_end">. </p>

			<p>What question do you want to ask?</p>


					<textarea type= "text" name = "question">
					</textarea>

					<input type= "submit" name = "submit" class=" question-button">
			</form>

</div>