
<div class="philosophy main-callout">
	<h3>My Philosophy</h3>
</div>
		<div class = "smaller-container section">

			<p>I believe people should be happier at work. We spend too much of our lives working for us not to be.</p>

			<p>We are unhappiest at work when we feel we can't say what we want. Ineffective communication is the root of almost every organizational problem. The things that go unsaid are what hurt a company the most.</p>

			<p>When we are able to communicate more openly and honestly, we immediately become happier. We can spot problems quicker. We can produce more meaningful outcomes. We feel like the work we do matters.</p>

			<p>Clarity is the starting point. It provides a baseline of awareness. A company must first see itself clearly in order to improve moving forward. You have to know what the problems are before you can do anything about it.</p>

			<p>My mission is to help companies gain this clarity. And as a result, to help people find the work they do more fulfilling.</p>

			<p>What Matters To Me:</p>
			<ul>
				<li class = "bigger"><b>Authenticity</b>: Be genuine in your intention.</li>
				<li class = "bigger"><b>Simplicity</b>: Focus on what's essential. </li>
				<li class = "bigger"><b>Honesty</b>:  Know your own bias and be forthcoming in your limitations.</li>
				<li class = "bigger"><b>Empathy</b>: Each person has a perspective worthy of respect.</li>
				<li class = "bigger"><b>Trust</b>: Take to heart the trust that others place in you.</li>
			</ul>
	</div>
</div>
</div>

