<div class = "section group">

  <h3 class = "center">New Post</h3>

    <div class = "smaller-container">

<%= render 'form' %>

<p class = "center"><%= link_to 'Back', posts_path %></p>

</div>

</div>
