/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*
  Resetting Defaults
*/


b, strong {
  font-weight: bold;
  color: #F77E60;
}
}
i, em {
  font-style: italic;
}






/*
  Grid
*/


.container {
  max-width: 1170px;
  margin: 0 auto;
}

.smaller-container {
  max-width: 750px;
  margin: 0 auto;
}


.smallest-container {
  max-width: 450px;
  margin: 0 auto;
}

/*
  Clearfix
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}




/*
  Custom Styles
*/


body {
  background: #FFF;
  font-family: 'proxima-nova', 'Georgia', Arial, Helvetica, sans-serif;
  color: #454545;
}



/*
  Links
*/


a:link {
  text-decoration:none;
/*  color: #F37359;*/
/*  color: #BABABA;*/
}


a:visited {
  text-decoration:none;
 /* color: #BABABA;*/
}

nav a:hover {
  text-decoration:none;
/*  color: #BABABA;*/

}

a:active {
  text-decoration:none;
}


/*
  Typography
*/

h1{
  font-size: 80px;


}

h2{
  font-size: 60px;
  font-family: "proxima-nova", sans-serif;
  font-weight: 600;


}

h3{
  font-size: 40px;
    font-family: "proxima-nova", sans-serif;
    font-weight: 100;
}

h4{
  font-size: 32px;
}


p {
  line-height: 170%;
  font-size: 24px;
  margin: 35px 0;
}


/*  Styling*/

.center{
  text-align: center;
}

.italic{
  font-style: italic;
}

.top-space{
  margin-top: 100px;
}



.small-top-space{
  margin-top: 40px;
}


.large-top-space{
  margin-top: 200px;
}




/*
  Navigation
*/

header {
  background: #fff;
  position: fixed;
}

.primary-nav{
  height: 70px;
  width: 100%;
  box-shadow: 0px 1px 2px #D6D6D6;
  border-bottom: 1px solid #D6D6D6;
  opacity: 0.98;


}

.sticky{
  height: 70px;
}

.nav-logo{
  float: left;
  font-size: 24px;
  padding: 20px;
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: url('ClarityBox-Logo-v4-small.png');
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: 0 50%;
  margin-top: 15px;

}

.nav-logo a{
  margin-left: 50px;
  color: #E08D79;
}

.nav-logo a:hover{
  color: #FF8142;
}

.nav-elements{
  float: right;
  width: 320px;
  margin-top: 30px;
}


.nav-elements li{
  float: left;
  width: 160px;
  text-align: center;
  font-size: 14px;
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav-elements a{
  color: #A3A3A3;
}


.nav-elements a:hover{
  color: #787878;
}


.color a{
  color: #E6785E;
  font-weight: 600;
}

.color a:hover{
  color: #FF8142;
}

.notice{
  float: left;
  color: #E08D79;
  font-size: 18px;
  margin-top: 27px;
  width: 500px;
  padding-left: 20px;

}


/*App Home Page*/

.app-home-page {
  background: #00CFC4;
  width: 100%;
  height: 800px;
}

.app-home-page  h1{
  padding: 300px 0 50px;
  text-align: center;
  letter-spacing: 4px;
  color: #fff;

}

.app-home-page h2{
  padding: 220px 0 20px;
  text-align: center;
  letter-spacing: 4px;
  color: #fff;

}

/*Color page*/

.color-page {
  background: #00CFC4;
  width: 100%;
  height: 100%;
  padding-bottom: 50px
}

.color-page  h2{
  padding: 220px 0 20px;
  text-align: center;
  letter-spacing: 4px;
  color: #fff;

}

/*Non-color page*/

.non-color-page {
  background: #f7f5f2;
  width: 100%;
  height: 100%;
  padding-bottom: 150px;
}

.non-color-page  h2{
  padding: 220px 0 20px;
  text-align: center;
  letter-spacing: 4px;
  color: #616161;
}

.non-color-page  h3{
  letter-spacing: 2px;
  color: #616161;
}

.non-color-page  h4{
  letter-spacing: 2px;
  color: #616161;
}

.non-color-page  h5{
  text-align: center;
  letter-spacing: 4px;
  color: #BFBDBD;
  text-transform: uppercase;
  font-size: 20px;

}

.non-color-page  p{
  color: #616161;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 600px

}



/*Forms
*/

.form {
  width: 650px;
  margin: 40px auto;
}

.form-small {
  width: 350px;
  margin: 40px auto;
}



/* Text Fields

*/

.field {
  padding: 20px;
  font-size: 24px;
  font-family: 'proxima-nova', 'Georgia', Arial, Helvetica, sans-serif;
  font-weight: 100;
  border: none;
  border-radius: 3px;
  margin: 10px 0;
  width: 277px;
  box-shadow: 0px 1px 2px #D6D6D6;
  color: #616161;
}

.longer {
  width: 609px;
}

.inline {
  display: inline;
  margin-left: 10px
}

.block {
  display: block;
}

.large {
  width: 605px;
}
.tall {
  height: 100px;
}



/*Labels*/

.label{
  color: #fff;
  font-size: 20px;
  padding: 5px 0 2px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 100;
  margin-top: 20px;
}

.label-gray{
  color: #616161;
  font-size: 20px;
  padding: 5px 0 2px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 100;
  margin-top: 20px;
}

/*Buttons*/

.button{
  color: #DEDEDE;
  font-size: 28px;
  text-transform: uppercase;
  padding: 25px;
  border-radius: 5px;
  border: 5px solid #DEDEDE;
  background: none;
  font-family:  'proxima-nova', 'Georgia', Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
  margin: 20px 5px 0;
}


.matched {
  width: 312px;
}

.button-small{
  width: 317px;
  color: #DEDEDE;
  font-size: 28px;
  text-transform: uppercase;
  padding: 25px;
  border-radius: 5px;
  border: 5px solid #DEDEDE;
  background: none;
  font-family:  'proxima-nova', 'Georgia', Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
  margin: 20px 0;
}

.button-extra-large{
  width: 360px;
  color: #DEDEDE;
  font-size: 40px;
  text-transform: uppercase;
  padding: 50px;
  border-radius: 5px;
  border: 5px solid #DEDEDE;
  background: none;
  font-family:  'proxima-nova', 'Georgia', Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
  margin: 50px 0 15px ;
  text-align: center;
  line-height: 120%;
}
.gray {
  color: #A8A8A8;
  border: 5px solid #A8A8A8;
}

.blue{
  color: #00CFC4;
  border: 5px solid #00CFC4;
}

.button:hover {
  color: #fff;
  border: 5px solid #fff;
}

.button.blue:hover {
  color: #00F5E8;
  border: 5px solid #00F5E8;
}

.button-extra-large:hover{
  color: #00F5E8;
  border: 5px solid #00F5E8;
  }

.button.gray:hover {
  color: #DEDEDE;
  border: 5px solid #DEDEDE;
}

/*Drop-down select*/

select {
  font-size: 20px;
  margin: 10px 0 5px;
  width: 316px;
}

/*Link*/


a{
  color: #A8A8A8;
}




/*Progress Bar*/

.progress-bar {
  background-color: #F77E60;
  height: 70px;
  width: 500px;
  margin: 100px auto 50px;
 /* border-radius: 10px;*/
}

.progress-bar-yes{
  background-color: #00CFC4;
  height: 70px;
/*  width: 40%;
*//*  border-radius: 10px;*/

}

.non-color-page h5.white-yes{
  color: #fff;
  float: left;
  margin-top: 29px;
  margin-left: 20px;
}

.non-color-page h5.white-no{
  color: #fff;
  float: right;
  margin-top: 29px;
  margin-right: 20px;
}


/*Footer*/

footer{
  width: 100%;
  height: 40px;
  margin: 0 auto;
  background: #fff
}

footer ul{
  width: 660px;
  height: 20px;
  margin: 36px auto 0;
}



footer li{
  float: left;
  width: 200px;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0 10px 0;
  letter-spacing: 1px;
  font-weight: 100;
}


footer a:link{
  color: #B3B3B3;
}

footer a:visited{
  color: #B3B3B3;
}

footer a:hover{
  color: #D9D9D9;
}












