/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*
  Resetting Defaults
*/


b, strong {
  font-weight: bold;
  color: #F77E60;
}
}
i, em {
  font-style: italic;
}






/*
  Grid
*/


.container {
  max-width: 1170px;
  margin: 0 auto;
}

.smaller-container {
  max-width: 750px;
  margin: 0 auto;
}


.smallest-container {
  max-width: 450px;
  margin: 0 auto;
}

/*
  Clearfix
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}




/*
  Custom Styles
*/


body {
  background: #FFF;
  font-family: 'proxima-nova', 'Georgia', Arial, Helvetica, sans-serif;
  color: #454545;
}



/*
  Links
*/


a:link {
  text-decoration:none;
/*  color: #F37359;*/
/*  color: #BABABA;*/
}


a:visited {
  text-decoration:none;
 /* color: #BABABA;*/
}

nav a:hover {
  text-decoration:none;
/*  color: #BABABA;*/

}

a:active {
  text-decoration:none;
}


/*
  Typography
*/

h1{
  font-size: 80px;


}

h2{
  font-size: 60px;
  font-family: "proxima-nova", sans-serif;
  font-weight: 600;


}

h3{
  font-size: 40px;
    font-family: "proxima-nova", sans-serif;
    font-weight: 100;
}

h4{
  font-size: 32px;
}


p {
  line-height: 170%;
  font-size: 24px;
  margin: 35px 0;
}


/*  Styling*/

.center{
  text-align: center;
}

.italic{
  font-style: italic;
}

.top-space{
  margin-top: 100px;
}



.small-top-space{
  margin-top: 40px;
}


.large-top-space{
  margin-top: 200px;
}




/*
  Navigation
*/

header {
  background: #344C63;
  position: fixed;
}

.primary-nav{
  height: 70px;
  width: 100%;
  box-shadow: 0px 1px 2px #344C63;
  border-bottom: 1px solid #344C63;
  opacity: 0.98;

}

.sticky{
  height: 70px;
}

.nav-logo{
  float: left;
  font-size: 24px;
  padding: 20px;
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: url('ClarityBox-Logo-v6-white-small.png');
  background-repeat: no-repeat;
/*  background-size: 40px;*/
  background-position: 50% 50%;
/*  background-color: rgba(205, 110, 87, 0.62);*/
  padding: 35px 20px;
  width: 40px;

/*  margin-top: 15px;
*/
}

.nav-logo a{
  margin-left: 50px;
  color: #E08D79;
}

.nav-logo a:hover{
  color: #FF8142;
}

.title {
  width: 500px;
  float: left;
  margin: 27px 38px 0 ;
}

.title a{
  font-size: 18px;
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #33a190;
}

.title a:hover{
  color: #cdcdcd;
}

.nav-elements{
  float: right;
  width: 320px;
}

.title a.tiny{
  color: #A3A3A3;
  font-size: 14px;
  text-transform: none;
  padding: 0 0 5px 20px;
}


.title a.tiny:hover{
  color: #C7C7C7;
}

.nav-elements li{
  float: left;
  width: 160px;
  text-align: center;
  font-size: 14px;
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 30px;

}

.nav-elements a{
  color: #A3A3A3;
}


.nav-elements a:hover{
  color: #C7C7C7;
}


.color a{
  color: #E6785E;
  font-weight: 600;
}

.color a:hover{
  color: #FF8142;
}

p.color {
  color: #fff;
  letter-spacing: 2px;
}

b.color{
  color: #3EB3A1;
}

/*
Notice*/

.notice{
  width: 100%;
  padding: 12px;
  text-align: center;
  background-color: #E88766;
  color: #8A391E;
/*  position: fixed;*/
}




/*App Home Page*/

.app-home-page {
/*  background: #33a190;
  width: 100%;
  padding: 150px 0;*/
  background-image: url('mountains13.JPG');
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-position: fixed;
  padding: 100px 0 30px;
  margin: 0 auto;
  background-size: 100%;
  height: 650px;
}



.app-home-page  h1{
  padding: 100px 0 0;
  text-align: center;
  letter-spacing: 8px;
  color: #fff;
  font-size: 50px;
  text-transform:  uppercase;

}


.app-home-page h2{
  padding: 100px 0 20px;
  text-align: center;
  letter-spacing: 4px;
  color: #fff;

}


.large-logo{
  width: 200px;
  height: 200px;
  background-image: url('ClarityBox-Logo-white-large.png');
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 10px auto -40px;
}




/*Color page*/

.color-page {
  background: #33a190;
  width: 100%;
  height: 100%;
  padding-bottom: 50px
}

.color-page  h2{
  padding: 220px 0 20px;
  text-align: center;
  letter-spacing: 4px;
  color: #fff;

}

/*Non-color page*/

.non-color-page {
  background: #f7f5f2;
  width: 100%;
  height: 100%;
  padding-bottom: 150px;
}

.non-color-page  h2{
  padding: 220px 0 20px;
  text-align: center;
  letter-spacing: 4px;
  color: #616161;
}

.non-color-page  h3{
  letter-spacing: 2px;
  color: #616161;
  line-height: 150%;
}

.non-color-page  h4{
  letter-spacing: 2px;
  color: #616161;
  font-size: 24px;
  line-height: 150%;
  font-weight: 100;
}

.non-color-page  h5{
  text-align: center;
  letter-spacing: 4px;
  color: #BFBDBD;
  text-transform: uppercase;
  font-size: 20px;

}

.non-color-page  h6{
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;;
  color: #616161;
  font-size: 32px;
  font-weight: 600;
  margin-top: 100px;

}





.non-color-page  p{
  color: #616161;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 600px

}

.non-color-page em{
/*  font-weight: 100;*/
  font-style: italic;
}


/*Small Callout*/

.small-callout{
  width: 100%;
  height: 200px;
  background-image: url('mountains13.JPG');
  background-repeat: no-repeat;
  background-position: 0 20%;
  padding: 100px 0 30px;
  margin: 0 auto;
  background-size: 100%;
}

.small-callout h2 {
 color: #fff;
 padding: 70px 0;
}


/*Images*/


.avatar{
  float: left;
  border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;

}

.avatar.large{
  float: none;
  width: 240px;
  border: 8px solid #fff;
  margin: 30px 0 0;
}

.medium{
  width: 150px;
  margin-right: 60px;
  border: 8px solid #fff;

}

.small{
  width: 60px;
  margin-right: 30px;
  border: 6px solid #fff;
}

.extra-small {
  width: 35px;
  margin-right: 25px;
  border: 2px solid #fff;
  margin-top: -13px;
}
.non-color-page h2.with-image{
  margin-top: 40px;
  letter-spacing: 4px;
  color: #616161;
  float: left;
  padding: 0;
}

.user-response{
  margin: 100px 0;
}

.user-response h4{
  margin-top: 12px;
}

.user-display{
  margin: 80px 0;
}

/*Page headers*/

.page-title{
  width: 830px;
  margin: 0 auto;
  padding: 200px 0 60px;
  text-align: center;
}




/*Forms
*/

.form {
  width: 650px;
  margin: 90px auto 0;
}

.form-small {
  width: 350px;
  margin: 50px auto 0;
}

.form-small.transparent{
  padding: 20px 20px 5px 53px;
  border-radius: 4px;
  background: rgba(255,255,255, .2)

}

/*.left {
  float: left;

}*/

.right {
  float: right;
  margin-top: -90px;
}


/* Text Fields

*/

.field {
  padding: 20px;
  font-size: 24px;
  font-family: 'proxima-nova', 'Georgia', Arial, Helvetica, sans-serif;
  font-weight: 100;
  border: none;
  border-radius: 3px;
  margin: 10px 0;
  width: 277px;
  box-shadow: 0px 2px 2px #D6D6D6;
  color: #616161;
}

.longer {
/*  width: 100%;*/
  width: 610px;
}


.inline {
  display: inline;
  margin-left: 10px
}

.block {
  display: block;
}

.large {
  width: 605px;
}
.tall {
  height: 100px;
}



/*Labels*/

.label{
  color: #267569;
  font-size: 20px;
  padding: 5px 0 2px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 100;
  margin-top: 20px;
}

.label-gray{
  color: #616161;
  font-size: 20px;
  padding: 5px 0 2px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 100;
  margin-top: 20px;
}

.label.white{
  color: #fff;
}

.label-gray.weird {
  margin-top: 68px;
}

/*Buttons*/

.button{
  color: #fff;
  font-size: 28px;
  text-transform: uppercase;
  padding: 25px;
  border-radius: 5px;
  border: 5px solid #2C8A7B;
  background: #2C8A7B;
  font-family:  'proxima-nova', 'Georgia', Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
  margin: 20px;
  font-weight: 400;
}

a.button.square{

  height: 200px;
}
.button.longer {
  width: 100%;
  margin: 20px 0;
}


.matched {
  width: 317px;
  margin: 20px 0;
}

a.button-small{
  color: #DEDEDE;
  font-size: 16px;
  text-transform: uppercase;
  padding: 7px;
  border-radius: 5px;
  background: none;
  font-family:  'proxima-nova', 'Georgia', Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
  margin: 20px 10px;
}

a.button-small.outline {
 border: 2px solid #DEDEDE;
}

a.button-small.dark{
  color: #267569;
}

a.button-small.dark:hover{
  color: #2C8A7B;
}


a.button-small.white{
  color: #fff;
  border: 2px solid #fff;
}

a.button-small.white:hover{
  color: #33a190;
  border: 2px solid #33a190;
}


a.button-small.outline.color{
  color: #3BB8A4;
  border: 2px solid #3BB8A4;
}

a.button-small.outline.color:hover{
  color: #267569;
  border: 2px solid #267569;
}


p.right a{
  border-radius: 5px;
  border: 3px solid #DEDEDE;
  background: none;
  padding: 6px;
  color: #DEDEDE;
}

p.right a:hover{
  border: 3px solid #EBEBEB;
  color: #EBEBEB;
}



.button-extra-large{
  color: #fff;
  font-size: 40px;
  text-transform: uppercase;
  padding: 50px;
  border-radius: 5px;
  font-family:  'proxima-nova', 'Georgia', Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
  margin: 50px 0 15px ;
  text-align: center;
  line-height: 120%;
  background: #33a190;
}
.gray {
  background: none;
  color: #A8A8A8;
  border: 5px solid #A8A8A8;

}


.button:hover {
  color: #fff;
  border: 5px solid #267569;
  background: #267569;
}



.button-extra-large:hover{
  color: #fff;
  background: #37B09D;
  }

.button.gray:hover {
  color: #DEDEDE;
  border: 5px solid #DEDEDE;
  background: none;
}

/*Drop-down select*/

select {
  font-size: 20px;
  margin: 10px 0 5px;
  width: 316px;
}

/*Link*/


a{
  color: #A8A8A8;
}

a:hover{
  color: #CFCFCF ;
}

p.right{
float: right;
}

p.right a.button{

}




/*Progress Bar*/

.progress-bar {
  background-color: #E88766;
  height: 70px;
  width: 500px;
  margin: 100px auto 50px;
 /* border-radius: 10px;*/
}

.progress-bar-yes{
  background-color: #3EB3A1;
  height: 70px;
/*  width: 40%;
*//*  border-radius: 10px;*/

}

.non-color-page h5.white-yes{
  color: #fff;
  float: left;
  margin-top: 29px;
  margin-left: 20px;
}

.non-color-page h5.white-no{
  color: #fff;
  float: right;
  margin-top: 29px;
  margin-right: 20px;
}



/*Table*/

table {
  width: 960px;
  margin: 50px auto;
}

th{
  padding: 20px;
  letter-spacing: 4px;
  color: #BFBDBD;
  text-transform: uppercase;
  font-size: 20px;
}

td{
  padding: 20px;
  color: #454545;
}

h3.table {
  font-size: 20px;
  font-weight: 400
}

h4.table {
  font-size: 16px;
}

p.table {
  font-size: 14px;
  color: #BFBDBD;
  font-style: italic;
  text-transform: none;
}


/*Footer*/

footer{
  width: 100%;
  height: 200px;
  margin: 0 auto 0;
  background: #283847;
  padding-bottom: 20px;
}

footer ul{
  width: 800px;
  margin: 36px auto 0;
}



footer li{
  float: left;
  width: 200px;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 100;
  padding: 40px 0;
}


footer a:link{
  color: #B3B3B3;
}

footer a:visited{
  color: #B3B3B3;
}

footer a:hover{
  color: #D9D9D9;
}


p.footer {
  text-align: center;
  font-size: 14px;
/*  padding-bottom: 30px;*/
  color: #BFBFBF;

}










