/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*
  Resetting Defaults
*/


i, em {
  font-style: italic;
}


b, strong {
  font-style: none;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 4px;
}




/*
  Grid
*/


.container {
  max-width: 1170px;
  margin: 0 auto;
}

.smaller-container {
  max-width: 750px;
  margin: 0 auto;
}


/*
  Clearfix
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}




/*
  Custom Styles
*/


body {
  background: #FFF;
  font-family: 'proxima-nova', 'Georgia', Arial, Helvetica, sans-serif;
  color: #454545;
}



/*
  Links
*/


a:link {
  text-decoration:none;
/*  color: #F37359;*/
/*  color: #BABABA;*/
}


a:visited {
  text-decoration:none;
 /* color: #BABABA;*/
}

nav a:hover {
  text-decoration:none;
/*  color: #BABABA;*/

}

a:active {
  text-decoration:none;
}


/*
  Typography
*/

h1{
  font-size: 80px;
/*  font-family: Georgia;*/


}

h2{
  font-size: 80px;
  font-weight: 600;
  letter-spacing: 1px;


}

h3{
  font-size: 40px;
    font-family: "proxima-nova", sans-serif;
    font-weight: 100;
}

h4{
  font-size: 40px;
}


p {
  line-height: 170%;
  font-size: 24px;
  margin: 35px 0;
  font-weight: 100;
}


/*  Styling*/

.center{
  text-align: center;
}

.italic{
  font-style: italic;
}

.top-space{
  margin-top: 100px;
}

.small-top-space{
  margin-top: 40px;
}


.large-top-space{
  margin-top: 200px;
}




/*
  Navigation
*/

header {
  position: fixed;
}

.primary-nav{
  height: 120px;
  width: 100%;
/*  box-shadow: 0px 1px 2px #D6D6D6;
  border-bottom: 1px solid #D6D6D6;*/
}

/*
.is-opaque{
  background: rgba(255,255,255, 0.7);
  display: none;
}*/

.sticky{
  height: 20px;
  padding: 50px 0;
}

.nav-logo{
  float: left;
  font-size: 32px;
  padding: 20px 0 22px 60px;
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: url('ClarityBox-Logo-green.png');
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: 0 50%;
  margin-top: -28px;
  color: #33A190;

}

.nav-logo a{
  margin-left: 50px;
  color: #E08D79;
}

.nav-logo:hover{
  color: #3DB8A5;
}

.nav-elements{
  float: right;
/*  margin-top: 5px;*/
  width: 190px;
}


.nav-elements li{
  float: left;
  text-align: center;
  font-size: 16px;
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/*Contact Nav Icon*/

#button-header{
  color: #fff;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 3px;
  border: 3px solid #3DB8A5;
  background: #3DB8A5;
  margin-top: -10px;
}

#button-header:hover {
  background: #2A7D70;
  border: 3px solid #2A7D70;
  color: #fff;
}


/*Twitter Nav Icon*/

#twitter{
  height: 35px;
  padding-left: 20px;
  margin-top: -5px;
}



/*.nav-elements.many li{
  float: left;
  width: 100px;
  text-align: center;
  font-size: 14px;
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}
*/
.nav-elements a{
  color: #fff;
}


.nav-elements a:hover{
  background: #267569;
}

.color{
   color: #33a190;
}


.color a{
  color: #E6785E;
  font-weight: 600;
}

.color a:hover{
  color: #FF8142;
}






/*Main Callout*/

.main-callout{
/*  background: #DE6A4E;
*/  width: 100%;
  height: 770px;
  background: #cdcdcd;
  background: url('mountains6.JPG');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 50%;
  margin: 0 auto;
/*  opacity: 0.98;*/

}

.main-callout h2{
  padding-top: 300px;
  text-align: center;
  color: #fff;
  letter-spacing: 4px;
  font-size: 60px;

}

.main-callout h3{
  color: #fff;
  font-size: 35px;
  letter-spacing: 1px;
  line-height: 140%;
}

/*Section*/

.section {
  width: 100%;
  margin: 0 auto;
  color: #4D4D4D;
  padding-top: 140px;
  padding-bottom: 120px;
}

.section h3 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 35px;
    padding-top: 50px;
    padding-bottom: 80px;
}

.section h4  {
  text-align: center;
  line-height: 120%;
  font-size: 45px;
  font-weight: 600;
/*  padding-top: 160px;*/
  padding-bottom: 50px;
  letter-spacing: 0.05em;
}


.section h5 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;

    font-weight: 100px;
}

.section p{
  letter-spacing: .05em;
  font-weight: 100;
}

.section li{
  letter-spacing: .05em;
}
/*
.section p.last {
  padding-bottom: 100px;
}*/

.section p.small {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 100;
}


.section a:link{
  color: #454545;
  font-weight: 400;
  border-bottom: 1px solid #454545;

}

.section a:visited{
  color: #454545;
   border-bottom: 1px solid #cdcdcd;

}

.section a:hover{
  color: #33a190;
  border-bottom: 1px solid #33a190;

}




/*Columns*/

.columns p{
  text-align: center;
  color: #33a190;
}

.col-1{
  width: 345px;
  float: left;
  padding-right: 30px;
}


.col-2{
  width: 345px;
  float: right;
  display: inline;
  padding-left: 30px;
}


.columns a{
  font-size: 16px;
}



/*Problem*/

.problem {
  background: #23302E;
  color: #cdcdcd;
}

.problem li{
  font-size: 24px;
  font-weight: 100;
  font-style: italic;
  /*margin-left: 50px;*/
  line-height: 250%;
  color: #33a190;
  text-align: center;
}




/*
.problem p{
  padding-top: 30px ;
  padding-bottom: 100px;
}
*/


/*Solution*/

.solution {
/*  background: #488EC7;
*/
/*  background: url('light.JPG');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 50%;
  color: #fff;
*/
}

.solution b{
  color: #33a190;
}

.solution li {
  font-size: 24px;
  font-weight: 100;
  font-style: italic;
  text-align: center;
  line-height: 250%;
}

/*Service*/

.service {
  background: #F0F0F0;
}

.service li {
  font-size: 18px;
  font-weight: 100;
  font-style: italic;
/*  margin-left: 50px;*/
  line-height: 250%;
  text-align: center;
  letter-spacing: 1px;

}


.approach {
/*  background: #189E77;
*/}

.approach b{
  color: #33a190;
}

.approach li {
  font-size: 24px;
  font-weight: 100;
  font-style: italic;
  margin-left: 50px;
  line-height: 250%;
}

/*Testimonials*/

.testimonials {
  background: #F0F0F0;
}

.testimonials p{
  text-align: center;
}

.testimonials li {
  font-size: 24px;
  font-weight: 100;
  font-style: italic;
  margin-left: 50px;
  line-height: 250%;
}

#tsl{
  padding:60px 60px 10px;
}

#signals{
  width: 200px;
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  margin-left: 60px;
  margin-top: 60px;
}

.quote{
  font-size: 18px;
  font-style: italic;
}

.quote b{
  text-transform: none;
  font-style: normal;
  text-align: center;
  letter-spacing: 1px;
  display: block;
}

/*Who I Am*/

.headshot{
  width: 100%;
  height: 250px;
  background: url('test_pic.JPG');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 50%;
  margin: 0 auto;
  border-radius: 6px;


}



/*Contact*/

.contact {
  background: #F0F0F0;
}

.contact h4{
  color: #33a190;
}
/*Why the name ClarityBox?*/

.why-name{
  background: #33a190;
  padding: 60px 0 20px;
}

.why-name h5{

  font-size: 22px;
  text-align: left;
  color: #206359;
/*  font-style: italic;*/
  letter-spacing: 2px;
}


.why-name p{

  font-size: 16px;
  text-align: left;
  color: #206359;
  letter-spacing: 1px;
}


/* Philosophy */

.philosophy.main-callout {
/*  background: #267569;*/
  background: url('mountains1.JPG');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 50%;
  margin: 0 auto;
  height: 500px;
}

.philosophy h3{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 35px;
    padding-top: 250px;
    padding-bottom: 80px;
    margin-left: 330px;
}


.section li.bigger {
  font-size: 24px;
  font-weight: 100;
  margin-left: 50px;
  line-height: 250%;
}

/*Story*/

.story.main-callout{
  background: url('test_pic.JPG');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 50%;
  margin: 0 auto;
/*  background: #267569;*/
  height: 500px;
}


.story h3{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 35px;
    padding-top: 250px;
    padding-bottom: 80px;
    margin-left: 330px;
}


/*Blog*/

.blog.main-callout{
/*  background: #267569;*/
  background: url('light.JPG');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 50%;
  margin: 0 auto;
  height: 500px;
}


.blog h3{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 35px;
    padding-top: 250px;
    padding-bottom: 80px;
    margin-left: 330px;
}

h4.blog {
  text-align: center;
  line-height: 120%;
  font-size: 55px;
  font-weight: 600;
  padding: 20px 0 10px;
  letter-spacing: 0.05em;

}


/*Forms
*/

.form {
  width: 650px;
  margin: 40px auto;
}


/* Text Fields

*/

.field {
  padding: 20px;
  font-size: 24px;
  font-family: 'proxima-nova', 'Georgia', Arial, Helvetica, sans-serif;
  font-weight: 100;
  border: none;
  border-radius: 3px;
  margin: 10px 0;
  box-shadow: 0px 2px 5px #D6D6D6;

}

.longer {
  width: 270px;
}

.inline {
  display: inline;
  margin-left: 20px;
}

.large {
  width: 605px;
}
.tall {
  height: 100px;
}


/*Buttons*/




.button{
  width: 647px;
  color: #3DB8A5;
  font-size: 28px;
  text-transform: uppercase;
  padding: 24px;
  border-radius: 5px;
  border: 5px solid #3DB8A5;
  background: none;
  font-family:  'proxima-nova', 'Georgia', Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
  margin: 10px 0;
}

.button:hover {
  background: #3DB8A5;
  border: 5px solid #3DB8A5;
  color: #fff;
}

.clear{
  color: #fff;
  border: 5px solid #fff;
}

.medium{
    font-size: 23px;
    padding: 18px;
    border: 3px solid;
    font-weight: 400;
}

.button-center{
  text-align: center;
  padding-top: 20px;
}

/*
Thank you*/

.thanks{
/*  background: #cdcdcd;*/
  background: url('mountains8.JPG');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 50%;
  margin: 0 auto;
  height: 650px;
}

.transparency{
  background: rgba(255, 255, 255, .7);
  padding: 20px 50px;
  margin-top: 60px;
  width: 450px;
  border-radius: 4px;
}


/*Table*/


table {
  width: 960px;
  margin: 50px auto;
}

th{
  padding: 20px;
  letter-spacing: 4px;
  color: #BFBDBD;
  text-transform: uppercase;
  font-size: 20px;
}

td{
  padding: 20px;
  color: #454545;
}

h3.table {
  font-size: 20px;
  font-weight: 400
}

h4.table {
  font-size: 16px;
}

p.table {
  font-size: 14px;
  color: #BFBDBD;
  font-style: italic;
  text-transform: none;
}




/*Footer*/




footer{
  width: 100%;
  height: 200px;
  margin: 0 auto;
  background: #3B3B3B;
  padding-bottom: 100px;

}

footer ul.main-items{
  width: 900px;
  height: 20px;
  margin: 0 auto;
  padding: 100px 0 10px;
}



footer li.main-items{
  float: left;
  width: 280px;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  margin: 0 10px 0;
  letter-spacing: 3px;
  font-weight: 100;
}



footer a:link{
  color: #33a190
;
}

footer a:visited{
  color: #267569;
}

footer a:hover{
  color: #267569;
}

footer h5 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  color: #999999;
  margin: 80px 0 30px;
}

footer p{
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  color: #999999;
}

.no-hover a:hover {
  background: none;
  border-bottom: none;
  color: none;
}

.section a:link.no-hover{
  background: none;
  border-bottom: none;
  color: none;
}

.section a:visited.no-hover{
  background: none;
  border-bottom: none;
  color: none;
}

